<p>
  <b>简介：</b>从所列出的每句诗中选取一字，组成另一诗句，字序可变。
</p>

<div>
  <div style="display: inline">
    <%= link_to(image_tag("key.png", size: "100x100", alt: "答案："), controller: "main", action: "reveal", remote: true) %>
    <%= link_to(image_tag("refresh.png", size: "100x100", alt: "更新"), controller: "main", action: "game", remote: true) %>
  </div>
  <div id="toggle_target" style="display:none;float:none">
    <h1>
      <%= @target.name %>
      <%= link_to image_tag("help.png",size: "25x25"),
                  remote: true,
                  controller: "main",
                  action: "show",
                  id: @target.poem_id %>
    </h1>
  </div>
</div>

<hr/>
<% tmp = (0..@target.name.mb_chars.length-1).collect {|i| @target.name.mb_chars[i].to_s}  %>
<% tmp.shuffle.each do |key| %>
    <% #pid, segment = @target.data[key].sample %>
    <% pid, segment = @target.data[key].find_all {|item| item[2] == @len_constraint }.sample %>
    <% p = Poem.find(id = pid) %>
    <h1 style="text-align:center;">
      <%= raw format_poem_line(p.get_segments[segment], key) %>
      <%= link_to image_tag("help.png",size: "25x25"),
                  remote: true,
                  controller: "main",
                  action: "show",
                  id: p.id %>
      <br/>
    </h1>
<% end %>
<div id="dialog"></div>
