<% @poems.each do |p| %>
<h3>
  <div><%= "题目：#{p.title}" %></div>
  <div><%= "作者：#{p.author}" %></div>
  <div><%= "类别：#{p.kind}" %></div>
  <p/>
  <div><%= "内容：" %></div><br/>
  <div style="padding-left: 100px">
    <% p.content.split("\r\n").each {|line| %>
        <%= line %> <br/>
    <% } %>
  </div>
</h3>
<hr/>
<p/>
<% end %>