# encoding: UTF-8

<div style="font-size: 18pt">
  <%= form_tag("/main/target", remote: true) do |f| %>
      <%= label_tag(:id, "查 找:") %>
      <%= text_field_tag(:id, "独钓寒江雪", :style=>"font-size:18pt;") %>
      <%= submit_tag("送交", :style=>"font-size:17pt;") %>
  <% end %>
</div>
<div id="game_content" style="padding-top: 200px;min-width:500px; padding-right: 450px">
  <%= render :partial => "content" %>
</div>
<script>
    $(document).ready(function() {
        var $your_dialog = $('#dialog').dialog({
            autoOpen: false,
            title: '全文',
            modal: true,
            width: 500,
            draggable: false
        });
    });
</script>
