<h3>
  <div><%= "题目：#{@poem.title}" %></div>
  <div><%= "作者：#{@poem.author}" %></div>
  <div><%= "类别：#{@poem.kind}" %></div>
  <hr/>
  <p/>
  <div><%= "内容：" %></div><br/>
  <div style="padding-left: 100px">
    <% @poem.content.split("\r\n").each {|line| %>
      <%= line %> <br/>
    <% } %>
  </div>
</h3>