<% @solutions.keys.each do |zi| %>
    <h2 style="color:orangered"><%= zi %> (Found <%= @solutions[zi].size %>)</h2>
    <% @solutions[zi].each do |p| %>
        <h3><%= p.title %>:
          <% s, c = p.get_matched_segment(zi) %>
          <%= s %>
        </h3>
    <% end %>
    <hr/>
<% end %>