<% if @target.nil? %>
    alert("(<%= params[:id] %>) " + "没找到!!")
<% else %>
    $("#game_content").html("<%= escape_javascript render(:partial => 'main/content')  %>")
    $(document).ready(function() {
        var $your_dialog = $('#dialog').dialog({
            autoOpen: false,
            title: '全文',
            modal: true,
            width: 500,
            draggable: false
        });
    });
<% end %>