<!DOCTYPE html>
<html>
<head>
  <title>TangShi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
</head>
<body>

<div>
  <div style="width: 300px; float:left">
    <%= image_tag("libai_small.jpg") %>
  </div>
  <div style="float:right">
    <%= yield %>
  </div>
</div>
<div style="clear: both;text-align: center">
  &copy;2014 Gang Wang
</div>
</body>
</html>
